/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Dark blue */
    color: white;
    text-align: center;
}

h1, p {
    margin: 10px 0;
}

/* Carousel Container */
.carousel {
    position: relative;
    max-width: 50%; /* Adjusted to occupy 1/2 of the screen */
    margin: 50px auto; /* Centers the carousel horizontally */
    overflow: hidden;
    box-sizing: border-box;
}

.carousel img {
    width: 85%; /* Reduzida 15% */
    margin: 0 auto; /* Centrado horizontalmente */
    display: none;
    border-radius: 15px; /* Bordas arredondadas de todas as quatro extremidades */
}

.carousel img.active {
    display: block;
}

/* Navigation Buttons */
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white; /* Fundo branco para o círculo */
    border: none;
    color: black;
    font-size: 15px; /* Reduzido 10% */
    cursor: pointer;
    padding: 8px;
    border-radius: 50%; /* Circulo completo */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-right: 10px; /* Espaçamento entre a imagem e a seta */
}

.carousel button.left {
    left: 0; /* Removido o espaçamento da borda */
}

.carousel button.right {
    right: 0; /* Removido o espaçamento da borda */
}

/* Highlighted Message and Poem Styles */
.message, .poem {
    margin: 30px auto;
    padding: 10px;
    background-color: white;
    color: black;
    width: 33%; /* Centra o conteúdo em um contêiner menor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Cantos arredondados */
    text-align: center;
    font-family: 'Georgia', serif; /* Estilo bonito de fonte */
    font-size: 1.5rem; /* Tamanho de fonte maior */
    font-weight: bold; /* Texto em negrito */
    white-space: pre-line;
}

/* Timer */
.timer {
    margin: 30px 0;
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .message, .poem {
        width: 33%; /* Mantém largura de 1/3 em telas maiores */
    }

    .timer {
        font-size: 1.8rem;
    }
}